<?xml version="1.0" encoding="UTF-8"?>
<Snippet>
    <Stylesheet Path="Editor/UI/Styles/GeoFaceSnippet.style" />

    <Frame Position="0.0 0 0.0 300" Class="root-element">
        <ListLayout Direction="Horizontal" Padding="0.0 4" />
        <FitterLayout Axis="Both" Margin="0.0 3 0.0 3" />

        <Button Id="visible-btn" Class="face-button">
            <Image IsActive="False" Class="face-icon visible-button" />
        </Button>
        <Button Id="material-btn" Class="face-button">
            <Image IsActive="False" Class="face-icon material-button" />
        </Button>
    </Frame>
</Snippet>