<?xml version="1.0" encoding="UTF-8"?>
<Snippet>
    <Stylesheet Path="Editor/UI/Default.style" />

    <Frame Class="root-element">
        <ListLayout Direction="Horizontal" Padding="0.0 4" />
        <FitterLayout Axis="Both" Margin="0.0 7 0.0 7" />

        <Element Class="dropdown-element">
            <Label Class="dropdown-label" Text="Scale:" />
            <NumberField Id="snap-scale" Class="dropdown-value" Value="1" />
        </Element>
    </Frame>
</Snippet>